<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahri Stats</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>

<body>
  <div class="overlay"></div>

  <div class="container">

    <!-- Search -->
    <form method="post" class="search-box">
        {% csrf_token %}
        <input type="text" name="userName" placeholder="Summoner name..." required>
        <input type="text" name="userTag" placeholder="#TAG" required>
        <button type="submit">Analyze</button>
    </form>

    <!-- Results -->
    {% if bestChamp %}
    <div class="cards">

        <div class="card best-champ">
            <h3>Best Champion</h3>

            <div class="champ-row">
                <img 
                src="{{ champImgRoute }}"
                alt="{{ bestChamp }}"
                class="champ-icon"
                >

                <div class="champ-info">
                    <p class="champ-name">{{ bestChamp }}</p>
                    <p class="champ-winrate">{{ bestChampWinrate }}%</p>
                </div>
            </div>
            <br>
            <p class="insight">your best performing champion recently is {{bestChamp}} with a {{bestChampWinrate}}% winrate</p>
        </div>

        <div class="card best-champ">
            <h3>Average KDA (wins vs loses)</h3>
            <div class="champ-row">
                <img src="{% static 'kda.png' %}" class="objective-icon">
                <div class="champ-info">
                    <p class="champ-name">Win: </p>
                    <p class="champ-winrate">{{winkda}}</p>

                </div>
                <div class="champ-info">
                    <p class="champ-name">Lose: </p>
                    <p class="champ-winrate">{{losekda}}</p>
                    
                </div>
            </div>
            <br>
            {% for k in kdatips %}
                <p class="insight">{{k}}</p>
            {% endfor %}
        </div>

        <div class="card objectives">
            <h3>Objective Control Per Wins</h3>

            <div class="objectives-row">

                <div class="objective">
                    <img src="{% static 'drake.png' %}" class="objective-icon">
                    <p>{{ jnglObjectives.0.1 }}%</p>
                </div>

                <div class="objective">
                    <img src="{% static 'voidGrubs.png' %}" class="objective-icon">
                    <p>{{ jnglObjectives.1.1 }}%</p>
                </div>

                <div class="objective">
                    <img src="{% static 'rift.png' %}" class="objective-icon">
                    <p>{{ jnglObjectives.2.1 }}%</p>
                </div>

                <div class="objective">
                    <img src="{% static 'baron.png' %}" class="objective-icon">
                    <p>{{ jnglObjectives.3.1 }}%</p>
                </div>

            </div>
            <br>
            <p class="insight">
                The objective contributing to your wins the most is 
                <span class="highlight">{{ sortedJnglObjectives.0 }}</span>
            </p>
        </div>

        <div class="card best-champ">
            <h3>Game Length Winrate (short vs long)</h3>
            <div class="champ-row">
                <img src="{% static 'watch.png' %}" class="objective-icon">
                <div class="champ-info">
                    <p class="champ-name">Short:</p>
                    <p class="champ-winrate">{{winByGameLength.0}}%</p>
                </div>
                <div class="champ-info">
                    <p class="champ-name">Long:</p>
                    <p class="champ-winrate">{{winByGameLength.1}}%</p>
                </div>
            </div>
            <br>
            {% for g in gameLengthTips %}
                <p class="insight">{{g}}</p>
            {% endfor %}    
        </div>

        <div class="card best-champ">
            <h3>Average wards per min (wins vs loses)</h3>
            <div class="champ-row">
                <img src="{% static 'ward.png' %}" class="objective-icon">
                <div class="champ-info">
                    <p class="champ-name">Wins:</p>
                    <p class="champ-winrate">{{averageWardWins}} wards per min</p>
                </div>
                <div class="champ-info">
                    <p class="champ-name">Loses:</p>
                    <p class="champ-winrate">{{averageWardLoses}} wards per min</p>
                </div>
            </div>
            <br>
            {% for warding in wardingTips %}
                <p class="insight">{{warding}}</p>
            {% endfor %}
        </div>

    </div>
    {% endif %}

  </div>
</body>
</html>