<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="userName" placeholder="type summoner name..." required>
        <input type="text" name="userTag" placeholder="type your tag, #...." required>
        <button type="submit">submit</button>
    </form>
</body>
    <h1>{{ bestChamp }}</h1>
    <h1>{{ bestChampWinrate }}</h1>
    {% for game in gameLength %}
    <p>{{ game }}</p>
    {% endfor %}
    <h1>{{ objectives }}</h1>
    
    <h1>Vision:</h1>
    
    {% for ward in vision %}
        <p>{{ ward }}</p>
    {% endfor %}
</html>